# {version}

```python
load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")
http_archive(
    name = "rules_doxygen",
    sha256 = "{sha256}",
    urls = ["https://github.com/abrisco/rules_doxygen/releases/download/{version}/rules_doxygen-v{version}.tar.gz"],
)
```

Additional documentation can be found at: https://github.com/abrisco/rules_doxygen
